{% extends 'twitter_app/base.html'%}

{% block content%}

<h2>Лента</h2>

{% for post in posts %}
    <div style="border: 1px solid #ccc; margin-bottom: 20px; padding: 10px;">
        <p><strong>{{ post.user.first_name }}</strong>| {{ created_at }}</p>
        <p>{{ post.content }}</p>
        {% if post.image %}
            <img src="{{ post.image.url }}" width="300">
        {% endif %}
        <p><a href="{% url 'post_detail' post.id %}">Комментировать</a></p>
    </div>
{% endfor %}


{% endblock content%}